NEXT_PUBLIC_ADSENSE_VERIFICATION_ENABLED=true
NEXT_PUBLIC_ADSENSE_AD_UNITS_ENABLED=false
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-0000000000000000
NEXT_PUBLIC_ADSENSE_TEST_MODE=false
ADSENSE_PUBLISHER_ID=pub-0000000000000000
